@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .item-produk-jadi,
    .carousel-inner .active + .item-produk-jadi + .item-produk-jadi,
    .carousel-inner .active + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi  {
        display: block;
    }
    
    .carousel-inner .item-produk-jadi.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .item-produk-jadi.active:not(.carousel-item-right):not(.carousel-item-left) + .item-produk-jadi,
    .carousel-inner .item-produk-jadi.active:not(.carousel-item-right):not(.carousel-item-left) + .item-produk-jadi + .item-produk-jadi,
    .carousel-inner .item-produk-jadi.active:not(.carousel-item-right):not(.carousel-item-left) + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.item-produk-jadi + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .item-produk-jadi,
    .carousel-item-next.carousel-item-left + .item-produk-jadi + .item-produk-jadi,
    .carousel-item-next.carousel-item-left + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi,
    .carousel-item-next.carousel-item-left + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .item-produk-jadi,
    .carousel-item-prev.carousel-item-right + .item-produk-jadi + .item-produk-jadi,
    .carousel-item-prev.carousel-item-right + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi,
    .carousel-item-prev.carousel-item-right + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi + .item-produk-jadi {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }


    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .item-testimony {
        display: block;
    }
    
    .carousel-inner .item-testimony.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .item-testimony.active:not(.carousel-item-right):not(.carousel-item-left) + .item-testimony {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.item-testimony + .item-testimony + .item-testimony{
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .item-testimony,
    .carousel-item-next.carousel-item-left + .item-testimony + .item-testimony{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .item-testimony,
    .carousel-item-prev.carousel-item-right + .item-testimony + .item-testimony {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

/*#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}*/