/* =====================================
Template Name: Eshop
Author Name: Naimur Rahman
Author URI: http://www.wpthemesgrid.com/
Description: Eshop - eCommerce HTML5 Template.
Version:1.0
========================================*/

h1, h2{
	font-family: 'PlayfairDisplay' !important;
}

h3,h4{
	font-family: 'Roboto Medium' !important;
}


/* Laptop Screen */
@media only screen and (min-width: 1200px) {
	h1{
		font-size: 3em !important;
	}

	h2{
		font-size: 2.5em !important;
	}

	h3{
		font-size: 1.5em !important;
	}

	h4{
		font-size: 1.17em !important;
	}

	h5{
		font-size: 1em !important;
	}

	h6{
		font-size: 83em !important;
	}

	/*padding top*/
	/*.padding-top-10{
		padding-top: 0.5rem;
	}
	.padding-top-20{
		padding-top: 1rem;
	}
	.padding-top-30{
		padding-top: 1.5rem;
	}
	.padding-top-40{
		padding-top: 2rem;
	}
	.padding-top-50{
		padding-top: 2.5rem;
	}
	.padding-top-60{
		padding-top: 3rem;
	}*/

	/*padding bottom*/
	/*.padding-bottom-10{
		padding-bottom: 0.5rem;
	}
	.padding-bottom-20{
		padding-bottom: 1rem;
	}
	.padding-bottom-30{
		padding-bottom: 1.5rem;
	}
	.padding-bottom-40{
		padding-bottom: 2rem;
	}
	.padding-bottom-50{
		padding-bottom: 2.5rem;
	}
	.padding-bottom-60{
		padding-bottom: 3rem;
	}*/
}

/* Notebook Screen */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
	h1{
		font-size: 3em !important;
	}

	h2{
		font-size: 2.5em !important;
	}

	h3{
		font-size: 1.5em !important;
	}

	h4{
		font-size: 1.17em !important;
	}

	h5{
		font-size: 1em !important;
	}

	h6{
		font-size: 83em !important;
	}
}

/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1{
		font-size: 3em !important;
	}

	h2{
		font-size: 2.5em !important;
	}

	h3{
		font-size: 1.5em !important;
	}

	h4{
		font-size: 1.17em !important;
	}

	h5{
		font-size: 1em !important;
	}

	h6{
		font-size: 83em !important;
	}
}

/* Mobile Screen */
@media only screen and (max-width: 767px) {
	h1{
		font-size: 2.5em !important;
	}

	h2{
		font-size: 2em !important;
	}

	h3{
		font-size: 1.5em !important;
	}

	h4{
		font-size: 1em !important;
	}

	h5{
		font-size: 83em !important;
	}

	h6{
		font-size: 63em !important;
	}

	/*padding top*/
	/*.padding-top-10{
		padding-top: 0.2rem;
	}
	.padding-top-20{
		padding-top: 0.5rem;
	}
	.padding-top-30{
		padding-top: 1rem;
	}
	.padding-top-40{
		padding-top: 0.5rem;
	}
	.padding-top-50{
		padding-top: 1rem;
	}
	.padding-top-60{
		padding-top: 1.5rem;
	}*/

	/*padding bottom*/
	/*.padding-bottom-10{
		padding-bottom: 0.2rem;
	}
	.padding-bottom-20{
		padding-bottom: 0.5rem;
	}
	.padding-bottom-30{
		padding-bottom: 1rem;
	}
	.padding-bottom-40{
		padding-bottom: 0.5rem;
	}
	.padding-bottom-50{
		padding-bottom: 1rem;
	}
	.padding-bottom-60{
		padding-bottom: 1.5rem;
	}*/
}
