@media print{
	#table table{
		border-collapse: collapse;
		vertical-align: middle;
		text-align: center;
	}
	#table table th, #table table td{
		border: 1px solid #000000;
		padding: .3rem;
		border-spacing: 0;
		font-size: 10px !important;
	}
}