@media only screen and (max-width: 988px) {
	.dropdown-container-footer a, .dropdown-footer{
	    padding: 6px 8px 6px 16px;
	      font-size: 16px;
	      color: #000;
	      display: block;
	      border: none;
	      background: none;
	      width: 100%;
	      text-align: left;
	      cursor: pointer;
	      outline: none;
	}
	.emng-aneh{
		text-align: center !important;
	}
	.bener{
		margin: auto;
	}

	.masukin-ginjal{
		right: 0 !important;
		left: auto !important;
	}
	.footer .links ul{
	    display: none;
	    margin-top: -20px;
	    padding-left: 10px;
	    line-height: 20px;
	    padding-bottom: 20px;
	}

	.dropdown-footer-icon .active:after{
	    font-family: "themify";
	    content: "\e64b" !important;
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}

	.dropdown-footer-icon .dropdown-footer:after{
	    font-family: "themify";
	    content: "\e649";
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}
}

@media only screen and (min-width: 450px) {
    /* styles for browsers larger than 960px; */
    .t-phone{
 		display: none !important;
 	}  
    .t-ipad{
 		display: none !important;
 	}
 	.t-web{
 		display: none !important;
 	}
 	.t-ipad-l{
 		display: none !important;
 	}
 	.t-mobile{
		display: block !important;
	}

}
/* Tablet Screen */
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .t-phone{
 		display: none !important;
 	}  
    .t-ipad{
 		display: none !important;
 	}
 	.t-web{
 		display: block !important;
 	}
 	.t-ipad-l{
 		display: none !important;
 	}
 	.t-mobile{
		display: none !important;
	}
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .t-phone{
 		display: none !important;
 	}  
    .t-ipad{
 		display: none !important;
 	}
 	.t-web{
 		display: block !important;
 	}
 	.t-ipad-l{
 		display: none !important;
 	}
 	.t-mobile{
		display: none !important;
	}
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    .t-phone{
 		display: none !important;
 	}  
    .t-ipad{
 		display: none !important;
	 	}
 	.t-web{
 		display: block !important;
 	}
 	.t-ipad-l{
 		display: none !important;
 	}
 	.t-mobile{
		display: none !important;
	}
}

@media only screen and (max-device-width: 480px) {
	.t-phone{
 		display: block !important;
 	}  
 	.t-mobile{
		display: block !important;
	}
   .t-ipad{
 		display: block !important;
 	}  
 	.t-web{
 		display: none !important;
 	}
 	.t-ipad-l{
 		display: none !important;
 	}



	.view-content{
		padding-top: 60px;
	}
	.sec-banner{
		margin-top: 60px;
	}
	.inv-mobile{
		font-size: 16px !important;
	}
	.tab-size-mobile{
		font-size: 11px !important;
	}
	.img-mob-banner{
		height: 150px !important;
	}
	.text-drive{
		text-align: center;
	}
	.img-drive{
		height: 200px;
	}
	.img-reedem{
		height: 100px !important;
	}
	.list-voucher{
		padding-top: 10px;
		padding-bottom: 0;
	}
	.list-voucher .text-nomor-voucher{
		font-size: 12px; 
		font-weight: 600;
		line-height: 20px;
	}
	.list-voucher .text-ketentuan{
		color: #FF5C57; 
		font-size: 10px; 
		font-weight: bold;
	}
	.qty-reedem{
		padding-right: 20px !important; 
		width: 50% !important;
	}

	.modal-content-padd{
		top: -50px;
	}

	.pucuk-gedang{
		height: 90px !important;
	}
	.pucuk-gedang .alert-login{
		padding: 20px !important;
	}

	.form-search{
		height: 40px !important;
		font-size: 14px !important; 
		padding-left: 20px !important;
	}

	.btn-custom-search{
	    height: 40px !important;
	    padding: 0 !important;
	    font-size: 18px !important;
	}
	.dropdown-menu-search{
		right: 0px !important;
	}
	.dropdown-menu-search-artikel{
		right: 0px !important;
	}
	.mtweb{
		margin-top: 10px;
	}

	.font-network-profile{
		font-size: 16px;
	}
	.head-title-desc p{
		font-size: 14px;
	    line-height: 20px;
	    padding-top: 10px;
	}
	.hah-kosong{
		font-size: 20px;
		padding-top: 50px;
		padding-bottom: 50px;
		line-height: 50px;
	}
	.section-judul span{
		line-height: 60px;
		font-size: 22px;
	}
	.section-content{
		padding: 120px 10px 60px;
	}
	.section-desc{
		padding: 30px 5px;
	}
	.section-desc h5{
		font-size: 14px;
	}
	.imgProfile{
		height: 300px; 
	}
	.ytProfile{
		width: 100%;
		height: 300px; 
	}
	.text-saldo{
		font-size: 1rem;
	}
	.table-periode{
		padding-top: 5px;
	}
	.table-medium{
		width: 100%;
	}
	.table-panel{
		font-size: 16px;
	}
	.owl-carousel .prev-slide{
		width: 30px;
	  	visibility: visible !important;
		opacity: 1 !important;
		transition: visibility 0s, opacity 0.5s linear;
	  	content: "";
	  	left: 0px;
	}
	.owl-carousel .next-slide{
		width: 30px;
	  	visibility: visible !important;
		opacity: 1 !important;
		transition: visibility 0s, opacity 0.5s linear;
	  	content: "";
	  	right: 0px;
	}
	.owl-carousel .prev-slide-promo{
		width: 30px;
	  	visibility: visible !important;
		opacity: 1 !important;
		transition: visibility 0s, opacity 0.5s linear;
	  	content: "";
	  	margin-top: -30px;
	  	left: 10px;
	}
	.owl-carousel .next-slide-promo{
		width: 30px;
	  	visibility: visible !important;
		opacity: 1 !important;
		transition: visibility 0s, opacity 0.5s linear;
	  	content: "";
	  	margin-top: -30px;
	  	right: 10px;
	}
	.img-promo-width{
		height: 300px;
	}

	.dropdown-container-footer a, .dropdown-footer{
	    padding: 6px 8px 6px 16px;
	      font-size: 16px;
	      color: #000;
	      display: block;
	      border: none;
	      background: none;
	      width: 100%;
	      text-align: left;
	      cursor: pointer;
	      outline: none;
	}

	.masukin-ginjal{
		right: 0 !important;
		left: auto !important;
	}
	.footer .links ul{
	    display: none;
	    margin-top: -20px;
	    padding-left: 10px;
	    line-height: 20px;
	    padding-bottom: 20px;
	}

	.dropdown-footer-icon .active:after{
	    font-family: "themify";
	    content: "\e64b" !important;
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}

	.dropdown-footer-icon .dropdown-footer:after{
	    font-family: "themify";
	    content: "\e649";
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}

	.center-mobile{
		text-align: center !important;
	}

	.border-mobile{
		border: 1px solid grey;
		margin-bottom: 10px;
	    margin-top: 10px;
	}

	.box-subproduct{ 
		bottom: 0;
		left: 0; 
		right: 0; 
		margin: auto;
		padding: 10px 50px;
	}
	.img-subproduct{
		width: 100%; 
		height: 80px; 
		object-fit: contain;
	}
	.o-1{
		order:1;
	}
	.o-2{
		order: 2;
	}
	.img-width-artikel{
		height: 250px;
	}
	.padd-artikel-high{
		padding: 40px 20px;
	}
	.padd-artikel-high h1{
		font-size: 1.75rem;
	}
	.padd-artikel-high h4{
		font-size: 90%;
	}
	.padd-artikel-high h6{
		font-size: 80%;
	}
	.bg-artikel{
		height: auto;
	}
	.mb-100{
		margin-bottom: 50px;
	}
	.box-content h2{
		font-size: 20px;
	}
	.box-content h5{
		padding-top: 0px;
		font-size: 14px;
	}
	.box-content h6{
		font-size: 11px;
	}

	.alert-email{
	    font-size: 20px !important;
	    line-height: 1.5 !important;
	    padding: 10px !important;
	}

	.paddEmail{
		padding: 10px !important;
	}

	.kat-prod-box p{
		font-size: 24px;
		line-height: 35px;
	}

	.container-kategori h2{
		font-size: 30px !important;
	}

	.promo h2{
		font-size: 30px !important;
	}
	.icon-bar{
		margin-top: 70px;
		margin-left: -5px;
	}
	.icon-bar a{
		padding: 2px;
		font-size: 14px;
	}
	.conmob{
		padding: 0;
		margin:0;
	}
	.paddartikel{
		margin-top: 0px !important;
	}
	.title-artikel{
		padding: 5px 22px;
	}
	.title-artikel h3{
		line-height: normal;
	    font-size: 20px;
	}
	.title-artikel h6{
		margin-top: 5px;
		font-size: 11px;
	}

	.banner-mobile-padd{
		padding-top: 70px;
	}
	.font-mobile{
		font-size: 9px;
	}
	.card-body h5{
		font-size: 1.10rem;
	}
	.card-body h4{
		font-size: 1.25rem;
	}
	.title-head{
		margin-top: 80px;
		padding: 20px 10px;
	}
	.section-judul h2 {
		font-size: 20px;
	}
	.section-desc h4{
		font-weight: 100 !important;
	}
	.title-head h4{
		font-size: 14px;
	}
	.breadcrumbs {
		padding: 90px 0 90px;
	}
	.breadcrumbs h2 {
		font-size: 28px;
	}
	.shop.single {
		padding: 0px 0 30px 0;
	}
	.shop-services.section {
		padding: 40px 0 0 0;
	}
	.blog-single.grid .pagination{
		float:none;
		text-align:center;
		margin-top: 12px;
	}
	.site-header .header-bottom {
		width: 100%;
		z-index: 333;
		position: absolute;
		position: relative;
		padding-bottom: 20px;
		background: #333;
	}
	.slicknav_menu{
		display:block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_btn {
		background: transparent;
		padding: 0;
		margin: 6px 0 0;
	}
	.slicknav_menu .slicknav_icon-bar{
		box-shadow:none;
	}
	.skill-image{
		display:none;
	}
	.slicknav_nav {
		clear: both;
		color: #fff;
		margin: 0;
		background: transparent;
		padding-top: 15px;
	}
	.slicknav_nav li a{
		margin: 0;
		color: #333;
		background: transparent;
		overflow: hidden;
	}
	.slicknav_nav li a i{
		display:none;
	}
	.slicknav_nav li:hover a{
		color:#F7941D;
		background:transparent;
	}
	.slicknav_nav li:hover{
		background:transparent;
	}
	.slicknav_nav li .dropdown li:hover{
		background:transparent;
	}
	.slicknav_nav li .dropdown li a{
		color:#555;
		background:transparent;
	}
	.slicknav_nav li .dropdown li a:hover{
		color:#F7941D;
		background:transparent;
	}
	.slicknav_nav li .slicknav_item{
		background:transparent;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
		padding: 0;
		margin: 0;
		padding: 6px 0;
		font-weight: 500;
	}
	.slicknav_nav li:last-child a{
		padding-bottom:0px;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #F7941D;
		box-shadow: none;
		text-shadow: none;
	}
	.slicknav_nav .slicknav_arrow{
		color:#F7941D;
	}
	.slicknav_menu .slicknav_icon-bar {
		display: block;
		width: 25px;
		height: 3px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
		box-shadow: 0 1px 0 rgba(0,0,0,.25);
	}
	.slicknav_nav li .slicknav_item:hover{
		background:transparent;;
	}
	.slicknav_nav li .new {
		display:none !important;
	}
	.header.shop .search-bar-top {
		display: none;
	}
	.header.shop .right-bar {
		display: none;
	}
	.header .middle-inner{
		width:100%;
	}
	.header.sticky .middle-inner{
		position:fixed;
		top:0;
		left:0;
		background:#fff;
		animation: fadeInDown 1s both 0.2s;
		-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
		box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
		z-index:999;
	}
	/* Header Search */
	.header.shop .search-top {
		display:block;
		position: absolute;
		right: 50px;
		top: 4px;
	}
	.header.shop .logo {
		margin: 0;
	}
	.section{
		padding:50px 0px;
	}
	.section-title {
		margin-bottom: 30px;
		padding: 0px 20px;
	}
	.section-title h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.section-title p {
		font-size: 13px;
	}
	.breadcrumbs {
		padding: 20px 0;
	}
	.header.shop .topbar .top-left{
		text-align:center;
	}
	.header.shop .topbar .right-content {
		text-align: center;
		float: none;
		margin-top: 8px;
	}
	.header.shop .search-bar {
		width: 445px;
	}
	.header.shop .search-bar input {
		padding: 0 52px 0 20px;
		width: 264px;
	}
	.header.shop .all-category {
		display: none;
	}
	.header .header-inner{
		display:none 
	}
	.hero-slider {
		height: 350px;
	}
	.hero-slider .hero-text {
		margin-top: 60px;
	}
	.hero-slider .hero-text h1 {
		font-size: 30px;
		margin-bottom: 0px;
	}
	.hero-slider .hero-text h1 span {
		font-size: 15px;
		margin-bottom: 0;
	}
	.hero-slider .hero-text p {
		color: #333;
		margin-bottom: 28px;
	}
	.hero-slider .hero-text .btn {
		padding: 10px 25px;
	}
	.hero-area2 .single-slider {
		height: 400px;
	}
	.hero-area2 .single-slider .content{
		padding:90px 0px 0px 0px;
	}
	.hero-area2 .single-slider .content .sub-title {
		font-size: 14px;
	}
	.hero-area2 .single-slider .content .title {
		font-size: 17px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	.hero-area2 .single-slider .content .des {
		color: #fff;
		line-height: 20px;
	}
	.hero-area2 .single-slider .content .button .btn {
		padding: 7px 18px;
		margin-top: 22px;
		font-size: 12px;
	}
	.hero-area3 .big-content {
		height: 300px;
		margin-top: 16px;
	}
	.hero-area3 .big-content .inner {
		padding: 0 25px 0 250px;
	}
	.hero-area3 .big-content .title {
		font-size: 20px;
		margin-bottom: 9px;
		line-height: 27px;
	}
	.hero-area3 .big-content .des {
		line-height: 22px;
		font-size: 13px;
	}
	.hero-area3 .big-content .button {
		margin-top: 30px;
		display: block;
	}
	.hero-area3 .big-content .button .btn {
		padding: 8px 18px;
		font-size: 13px;
	}
	.hero-area3 .small-content {
		margin-top: 15px;
	}
	.hero-area4 .big-content {
		height: 300px;
		margin-top: 20px;
	}
	.hero-area4 .big-content .inner {
		padding: 0;
		padding-right: 30px;
		background: #ffffffba;
		padding: 25px;
		left: 0;
		height:100%;
	}
	.hero-area4 .big-content .title {
		font-size: 20px;
		margin-bottom: 12px;
		line-height: 22px;
	}
	.hero-area4 .big-content .des {
		font-size: 13px;
		color: #333;
		line-height: 21px;
	}
	.hero-area4 .big-content .button {
		margin-top: 20px;
	}
	.hero-area4 .big-content .button .btn {
		padding: 6px 17px;
		font-size: 12px;
	}
	.hero-area4 .owl-carousel .owl-nav div {
		height: 32px;
		width: 35px;
		line-height: 32px;
		font-size: 11px;
		background:#3336;
	}
	.hero-area4 .owl-carousel .owl-nav {
		margin-top: -16px;
	}
	.product-area .nav-tabs .nav-item {
		margin-bottom: 10px;
	}
	.small-banner {
		padding: 18px 0;
		
	}
	.small-banner .single-banner{
		margin-bottom: 18px;
	}
	.modal-dialog .quickview-slider-active{
		width:720px;
	}
	.quickview-content {
		padding: 40px;
	}
	.quickview-content .size .title {
		margin-top: 16px;
	}
	.midium-banner .single-banner .content {
		padding: 35px;
	}
	.midium-banner .single-banner{
		margin-bottom:15px;
	}
	.midium-banner .single-banner h3 {
		font-size: 20px;
		line-height: 24px;
	}
	.midium-banner .single-banner a {
		padding: 6px 20px;
		margin-top: 15px;
	}
	.most-popular .single-product {
		margin: 20px 15px 0 15px;
	}
	.shop-home-list .shop-section-title {
		margin-top: 20px;
	}
	.shop-home-list .single-list .content {
		padding: 0;
		padding: 20px;
		text-align: center;
	}
	.shop.single .product-des .size {
		margin-top: 10px;
	}
	.shop.single .product-des .short h4 {
		font-size: 20px;
		font-weight: 500;
		margin-top: 0;
		line-height: 24px;
	}
	.shop.single .product-des {
		margin-top: 20px;
	}
	.shop.single .product-des .rating {
		margin-top: 6px;
	}
	.shop.single .product-des .price {
		font-size: 17px;
		margin-top: 10px;
	}
	.shop.single .product-des .short .description {
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 11px;
	}
	.shop.single .product-des .color h4 {
		font-size: 15px;
		font-weight: 500;
	}
	.shop.single .add-to-cart .btn {
		height: 42px;
		padding: 0 35px;
		margin-right: 5px;
		margin-top: 6px;
	}
	.shop.single .form .form-group textarea {
		height: 150px;
	}
	.shop.single .product-des .color ul li a {
		margin-bottom: 8px;
	}
	.shop.single .quantity .input-number {
		height: 42px;
	}
	.shop.single .nav-tabs li a {
		padding: 8px 22px;
	}
	.shop.single .single-des p {
		font-size: 14px;
		font-weight: 400;
	}
	.shop.single .single-des {
		margin-top: 18px;
	}
	.shop.single .single-des ul li {
		margin-bottom: 4px;
	}
	.shop.single .rating-des {
		padding: 17px 20px 17px 107px;
	}
	.shop.single .form .form-group button {
		padding: 14px 40px;
	}
	.cown-down {
		height: auto;
	}
	.cown-down .content .title {
		font-size: 22px;
	}
	.cown-down .padding-left {
		padding: 0;
	}
	.cown-down .padding-right {
		padding: 0;
	}
	.cown-down .content {
		padding: 30px 20px;
	}
	.cown-down .content .price {
		margin-top: 22px;
		font-size: 28px;
	}
	.cown-down .content .price s {
		font-size: 20px;
	}
	.cown-down .content .heading-block{
		padding: 0;
		position: relative;
	}
	.shop-blog .shop-single-blog {
		margin-bottom: 30px;
	}
	.shop-services{
		padding:50px 0;
	}
	.shop-services .single-service {
		padding: 42px 0 18px 0;
		text-align: center;
	}
	.shop-services .single-service i {
		height: 40px;
		width: 40px;
		line-height: 40px;
		font-size: 24px;
		top: 0;
		left: 50%;
		margin-left:-20px;
	}
	.shop-services.home {
		padding: 25px 0;
	}
	.shop-newsletter .newsletter-inner input {
		width: 330px;
		height: 42px;
		padding:0 20px;
		border-radius: 30px;
		margin-bottom: 10px;
		display:block;
		text-align:center;
	}
	.shop-newsletter .newsletter-inner .btn {
		height: 42px;
		padding: 10px 15px;
		width: 330px;
		border-radius: 30px;
		left:0;
		display:block;
	}
	.shop-blog .shop-single-blog .content {
		padding: 28px;
	}
	.shop-blog.grid .shop-single-blog{
		margin-top:0px;
	}
	.blog-single .blog-title {
		font-size: 22px;
		margin: 25px 0 15px 0;
	}
	.blog-single blockquote {
		padding: 20px 30px 20px 65px;
	}
	.main-sidebar {
		padding: 25px;
	}
	.main-sidebar .side-tags .tag {
		margin-top: 30px;
	}
	.blog-single .comments .single-comment.left {
		margin-left: 0;
	}
	.blog-single .reply form {
		padding: 0;
		border:none;
	}
	.blog-single .reply .form-group {
		margin-bottom: 15px;
	}
	.blog-single .reply .form-group input {
		height: 42px;
	}
	.blog-single .reply .form-group textarea {
		height: 120px;
	}
	.blog-single .reply .button .btn {
		height: 45px;
		border: none;
		padding: 0px 20px;
	}
	.cart-information .single-info h4 {
		font-size: 14px;
	}
	.shopping-summery thead {
		display: none;
	}
	.shopping-cart .table td {
		padding: .75rem;
		vertical-align: top;
		border-top: 1px solid #e9ecef;
		display: block;
		height: auto;
		text-align: left !important;
		padding-left: calc(50% + 20px) !important;
		width: 100%;
		position: relative;
		padding-left: 91px;
		margin-top: 5px;
	}
	.shopping-cart .qty .button .btn {
		padding: 0;
		width: 35px;
	}
	.shopping-cart .table td::before {
		content: attr(data-title);
		display: block;
		font-weight: bold;
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 10px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 50%;
		height: 100%;
		border-bottom: 1px solid #e6ebee;
		background: #F7941D;
		color: #fff;
		border: none;
	}
	.shopping-cart .table td {
		vertical-align: middle;
		padding: 10px;
		border-bottom: 1px solid #eee;
	}
	.shopping-summery thead tr th {
		padding: 10px;
	}
	.shopping-cart .total-amount .right {
		padding-left: 0px;
	}
	.shopping-cart .total-amount .left {
		margin-bottom: 30px;
	}
	.shopping-cart .total-amount {
		margin-top: 30px;
	}
	.shopping-cart .total-amount .left .coupon form .btn {
		display: inline-block;
		height: 48px;
		margin-left: 0px;
		width: 220px;
		margin-top: 10px;
		display:block;
	}
	.shop.login {
		padding:50px 0;
	}
	.shop.login .login-form h2 {
		font-size: 30px;
		margin-bottom: 10px;
		padding-bottom: 15px;
	}
	.pagination .pagination-list li a {
		padding: 4px 12px;
	}
	.pagination .pagination-list li a {
		padding: 4px 12px;
	}
	.shop-list .pagination{
		float:none;
		text-align:center;
	}
	.shop-list .list-content {
		margin-top: 30px;
	}
	.shop-list .list-content .btn {
		height: auto;
		line-height: auto;
		padding: 12px 32px;
	}
	.single-product {
		margin-top: 30px;
	}
	.error-page .error-inner h2 {
		font-size: 55px;
	}
	.error-page .error-inner h5 {
		font-size: 16px;
		font-weight: 500;
	}
	.error-page .error-inner p {
		line-height: 20px;
		font-size: 14px;
		padding: 0 20px;
	}
	.error-page .button .btn {
		padding: 8px 20px;
	}
	.contact-us .form-main {
		padding: 30px;
	}
	.contact-us .form .button .btn {
		height: auto;
		padding: 14px 20px;
	}
	.contact-us .form .form-group input {
		height: 45px;
	}
	.contact-us .title h3 {
		font-size: 23px;
	}
	#myMap {
		height: 300px;
		width: 100%;
	}
	.contact-us .single-head {
		padding: 30px;
		margin-top: 30px;
	}
	.contact-us .form .form-group input {
		height: 40px;
	}
	.about-us .about-content {
		padding: 0;
		margin-bottom: 30px;
	}
	.about-us .about-content h3 {
		font-size: 25px;
		margin-bottom: 12px;
		padding-bottom: 12px;
	}
	.about-us .about-content p {
		line-height: 22px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 300;
		color:#333;
	}
	.about-us .about-content .button {
		margin-top: 30px;
	}
	.about-us .about-content .button .btn {
		margin-right: 10px;
		padding: 10px 22px;
		font-size: 13px;
	}
	.footer .footer-top{
		padding: 15px 0px;
	}
	.footer .copyright .left {
		float:none;
		text-align:center;
	}
	.footer .copyright .right {
		float:none;
		text-align:center;
		margin-top:10px;
	}
	.footer .single-footer {
		padding:20px 0;
	}
	.modal-dialog .quickview-slider-active {
		display: none;
	}
	.modal-dialog .modal-content .modal-header {
		right: 15px;
		top: 12px;
	}
	.quickview-content {
		padding: 30px;
	}
	.quickview-content h2 {
		font-size: 22px;
	}
	.quickview-content h3 {
		font-size: 17px;
		margin: 10px 0 10px;
	}
	.quickview-content .quickview-peragraph p {
		line-height: 22px;
	}
	.quickview-content .size .title {
		margin-top:10px;
	}
	.modal-dialog .modal-content .modal-header .close {
		font-size: 9px;
	}
	.quickview-content .quantity .input-group {
		margin-bottom: 10px;
	}
	.quickview-content .add-to-cart .btn {
		height: 42px;
		padding: 0 25px;
		line-height: 42px;
		font-size: 12px;
	}
	.quickview-content .add-to-cart .btn.min {
		line-height: 41px;
	}

	.text-center-mobile{
		text-align: center !important;
	}
	.input-group{
		align-items: center !important;
		justify-content: center !important;
	}


	/*support*/
	.banner-top-support{
		margin-top: 70px;
		height: 100px;
	}
	.if-vi-home{
		width: 100%;
		height: 450px;
	}

	.owlbanner .prev-slide-banner{
	    left: 10px !important;
	}
	.owlbanner .next-slide-banner{
	    right: 10px !important;
	}

	.btn-custom-tran{
		width: 170px;
    	font-size: 10px;
	}
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	.t-phone{
		display: none !important;
	}
	.t-ipad{
		display: block !important;
	}  
	.t-web{
		display: none !important;
	}
	.t-ipad-l{
		display: none !important;
	}
	.t-mobile{
		display: block !important;
	}

	.navbar-custom .dropdown-menu{
		text-align: left;
	}
	.kat-prod-box p{
		font-size: 24px;
		line-height: 35px;
	}

	.center-mobile{
		text-align: center !important;
	}
	.text-center-mobile{
		text-align: center !important;
	}
	.dropdown-container-footer a, .dropdown-footer{
	    padding: 6px 8px 6px 16px;
	      font-size: 16px;
	      color: #000;
	      display: block;
	      border: none;
	      background: none;
	      width: 100%;
	      text-align: left;
	      cursor: pointer;
	      outline: none;
	}
	.footer .links ul{
	    display: none;
	    margin-top: -20px;
	    padding-left: 10px;
	    line-height: 20px;
	    padding-bottom: 20px;
	}

	.dropdown-footer-icon .active:after{
	    font-family: "themify";
	    content: "\e64b" !important;
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}

	.dropdown-footer-icon .dropdown-footer:after{
	    font-family: "themify";
	    content: "\e649";
	    display: inline-block;
	    padding-right: 3px;
	    vertical-align: middle;
	    font-weight: 900;
	    float: right;
	}

	.owlbanner .prev-slide-banner{
		content: "";
		left: 10px;
		position: absolute;
		top: 45%;
		border: 1px solid transparent;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%) !important;
		background: rgba(0,0,0,0.5);
		transition: right .7s;
	}
	.owlbanner .next-slide-banner
	{
		content: "";
		right: 10px;
		position: absolute;
		top: 45%;
		border: 1px solid transparent;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%) !important;
		background: rgba(0,0,0,0.5);
		transition: right .7s;
	}
	.owl-carousel .prev-slide {
		width: 40px;
		background: url(../assets/images/ic_left.png) no-repeat scroll 0 0;
		display: block;
		content: "";
		left: -35px;
		top: 80px !important;
	}

	.owl-carousel .next-slide {
		content: "";
		width: 40px;
		display: block;
		background: url(../assets/images/ic_right.png) no-repeat scroll -24px 0;
		right: -35px;
		top: 80px !important;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	.t-phone{
 		display: none !important;
 	}  
  	.t-ipad{
 		display: none !important;
 	}  
 	.t-web{
 		display: none !important;
 	}
 	.t-ipad-l{
 		display: block !important;
 	}
 	.t-mobile{
		display: block !important;
	}

	.navbar-custom .dropdown-menu{
		text-align: left;
	}
	.kat-prod-box p{
		font-size: 24px;
		line-height: 35px;
	}

	.owlbanner .prev-slide-banner{
		content: "";
		left: 10px;
		position: absolute;
		top: 45%;
		border: 1px solid transparent;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%) !important;
		background: rgba(0,0,0,0.5);
		transition: right .7s;
	}
	.owlbanner .next-slide-banner
	{
		content: "";
		right: 10px;
		position: absolute;
		top: 45%;
		border: 1px solid transparent;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%) !important;
		background: rgba(0,0,0,0.5);
		transition: right .7s;
	}
	.owl-carousel .prev-slide {
		width: 40px;
		background: url(../assets/images/ic_left.png) no-repeat scroll 0 0;
		display: block;
		content: "";
		left: -35px;
		top: 80px !important;
	}

	.owl-carousel .next-slide {
		content: "";
		width: 40px;
		display: block;
		background: url(../assets/images/ic_right.png) no-repeat scroll -24px 0;
		right: -35px;
		top: 80px !important;
	}
	
}