.nav-custom {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav-link-custom {
	display: block;
	padding: .5rem 1rem
}

.nav-link-custom:focus,
.nav-link-custom:hover {
	text-decoration: none
}

.nav-link-custom.disabled {
	color: #868e96
}

.nav-tabs-custom {
	border-bottom: 1px solid #ddd
}

.nav-tabs-custom .nav-item-custom {
	margin-bottom: -1px
}

.nav-tabs-custom .nav-link-custom {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.nav-tabs-custom .nav-link-custom:focus,
.nav-tabs-custom .nav-link-custom:hover {
	border-color: #e9ecef #e9ecef #ddd
}

.nav-tabs-custom .nav-link-custom.disabled {
	color: #868e96;
	background-color: transparent;
	border-color: transparent
}

.nav-tabs-custom .nav-item-custom.show .nav-link-custom,
.nav-tabs-custom .nav-link-custom.active {
	color: #495057;
	background-color: #fff;
	border-color: #ddd #ddd #fff
}

.nav-tabs-custom .dropdown-menu-custom {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.nav-pills-custom .nav-link-custom {
	border-radius: .25rem
}

.nav-pills-custom .nav-link-custom.active,
.nav-pills-custom .show>.nav-link-custom {
	color: #fff;
	background-color: #f15e56; /*#007bff*/
}

.nav-fill-custom .nav-item-custom {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center
}

.nav-justified-custom .nav-item-custom {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 0.08;
	text-align: center
}


	
.navbar-custom .custom-menu .dropdown-menu{
	padding-right: 15px;
	margin-top: 0;
	border: none;
	text-align: left;
	background-color: #fff;
	height: auto;
	width: 400px;
	overflow-y: auto;
}
	
.bg-gray{
	background-color: #ededed;
}
	
.header-notification{
	height: 50px;
	text-align: center;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
	box-shadow:0 1px 3px 0 rgba(0,0,0,0.2),0 1px 8px 0 rgba(0,0,0,0.19);
	border-width: thin;
	padding-left: 35px;
}
	
.header-notification .text-notification{
	display: inline-block;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
	
.footer-notification{
	border-width: thin;
	padding-left: 20px;
	font-size: 14px;
}
	
p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}
	
.sticky-bottom {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	z-index: 1020;
}
	
.new-notification{
	background: blue;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	text-align: center;
}
	
.content-notification{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}
	
.content-notification:hover{
	background-color: #f6f6f6;
}
	
.content-scrolling{
	padding-top: -20px
}

.mb-3px{
	margin-bottom: 3px;
}

.mb-5px{
	margin-bottom: 5px;
}

.kode1, .kode2, .kode3, .kode4, .kode5, .kode6 {
	font-size: 24px;
}